schema/core-schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xml="http://www.w3.org/XML/1998/namespace"
           xmlns:tei="http://www.tei-c.org/ns/1.0"
           targetNamespace="http://www.tei-c.org/ns/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>



    <!-- generic type of comments -->

     <xs:complexType name="divPrimary">
        <xs:choice maxOccurs="unbounded">
            <xs:element ref="tei:head" maxOccurs="1"/>
            <xs:element ref="tei:ab" minOccurs="0"/>
            <xs:element ref="tei:ref" minOccurs="0"/>
            <xs:element ref="tei:milestone" minOccurs="0"/>
            <xs:element ref="tei:dateline" minOccurs="0"/>
            <xs:element ref="tei:signed" minOccurs="0"/>
            <xs:element ref="tei:quote" minOccurs="0"/>
            <xs:element ref="tei:list" minOccurs="0"/>
            <xs:element ref="tei:epigraph" minOccurs="0"/>
            <xs:element ref="tei:figure" minOccurs="0"/>
            <xs:element ref="tei:lg" minOccurs="0"/>
            <xs:element ref="tei:pb" minOccurs="0"/>
            <xs:element name="p" minOccurs="0" type="tei:paragraphLikePrimary"/>
            <xs:element name="div" minOccurs="0" type="tei:divPrimary"/>
            <xs:element name="titlePage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any processContents="skip"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:choice>
        <xs:attribute ref="xml:id" use="required"/>
        <xs:attribute name="type" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="section"/>
                    <xs:enumeration value="chapter"/>
                    <xs:enumeration value="subchapter"/>
                    <xs:enumeration value="subsubchapter"/>
                    <xs:enumeration value="titlepage"/>
                    <xs:enumeration value="toc"/>
                    <xs:enumeration value="tof"/>
                    <xs:enumeration value="preface"/>
                    <xs:enumeration value="skipped-chapter"/>
                    <xs:enumeration value="colophon"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="divSecondary">
        <xs:choice maxOccurs="unbounded">
            <xs:element ref="tei:head" maxOccurs="1"/>
            <xs:element ref="tei:ref" minOccurs="0"/>
            <xs:element ref="tei:dateline" minOccurs="0"/>
            <xs:element ref="tei:signed" minOccurs="0"/>
            <xs:element ref="tei:quote" minOccurs="0"/>
            <xs:element ref="tei:list" minOccurs="0"/>
            <xs:element ref="tei:figure" minOccurs="0"/>
            <xs:element ref="tei:epigraph" minOccurs="0"/>
            <xs:element ref="tei:lg" minOccurs="0"/>
            <xs:element ref="tei:pb" minOccurs="0"/>
            <xs:element ref="tei:table" minOccurs="0"/>
            <xs:element ref="tei:floatingText" minOccurs="0"/>
            <xs:element name="ab" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ptr" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attribute name="type">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="endnote-link"/>
                                            <xs:enumeration value="endnote-external"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="n" type="xs:integer"/>
                                <xs:attribute name="target" type="xs:anyURI"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element ref="tei:pb"/>
                    </xs:sequence>
                    <xs:attribute name="type">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="collected-comments"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="docAuthor" minOccurs="0" type="tei:paragraphLikeSecondary"/>
            <xs:element name="p" minOccurs="0" type="tei:paragraphLikeSecondary"/>
            <xs:element name="div" minOccurs="0" type="tei:divSecondary"/>
        </xs:choice>
        <xs:attribute ref="xml:id" use="required"/>
        <xs:attribute name="type" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="section"/>
                    <xs:enumeration value="chapter"/>
                    <xs:enumeration value="subchapter"/>
                    <xs:enumeration value="subsubchapter"/>
                    <xs:enumeration value="document"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:element name="note">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="fw">
                    <xs:complexType>
                        <xs:attribute name="type">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="original-footnote"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="n">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="\{\d+\}\d+"/>
                                    <xs:pattern value="\{[IVXL]+\}\d+"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="tei:lg" minOccurs="0"/>
                <xs:element name="p" minOccurs="1" type="tei:paragraphLikeAnyNote"/>
            </xs:choice>
            <xs:attribute ref="xml:id" use="required"/>
            <xs:attribute name="place">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="foot"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="comment"/>
                        <xs:enumeration value="note"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="n" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\d+"/>
                        <xs:pattern value="[IVXL]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:complexType mixed="true" name="paragraphLikePrimary">
        <xs:choice maxOccurs="unbounded">
            <xs:element ref="tei:hi" minOccurs="0"/>
            <xs:element ref="tei:supplied" minOccurs="0"/>
            <xs:element ref="tei:note" minOccurs="0"/>
            <xs:element ref="tei:ref" minOccurs="0"/>
            <xs:element ref="tei:bibl" minOccurs="0"/>
            <xs:element ref="tei:milestone" minOccurs="0"/>
            <xs:element ref="tei:figure" minOccurs="0"/>
            <xs:element ref="tei:lg" minOccurs="0"/>
            <xs:element ref="tei:ptr" minOccurs="0"/>
            <xs:element ref="tei:foreign" minOccurs="0"/>
            <xs:element ref="tei:rs" minOccurs="0"/>
            <xs:element ref="tei:pb" minOccurs="0"/>
            <xs:element ref="tei:choice" minOccurs="0"/>
            <xs:element ref="tei:quote" minOccurs="0"/>
            <xs:element ref="tei:del" minOccurs="0"/>
            <xs:element ref="tei:add" minOccurs="0"/>
        </xs:choice>
        <xs:attribute ref="xml:id" use="required"/>
        <xs:attribute ref="xml:space" use="required"/>
        <xs:attribute name="rendition" type="tei:renditionType"/>
    </xs:complexType>

    <xs:complexType mixed="true" name="paragraphLikeSecondary">
        <xs:choice maxOccurs="unbounded">
            <xs:element ref="tei:hi" minOccurs="0"/>
            <xs:element ref="tei:supplied" minOccurs="0"/>
            <xs:element ref="tei:note" minOccurs="0"/>
            <xs:element ref="tei:ref" minOccurs="0"/>
            <xs:element ref="tei:bibl" minOccurs="0"/>
            <xs:element ref="tei:figure" minOccurs="0"/>
            <xs:element ref="tei:lg" minOccurs="0"/>
            <xs:element ref="tei:ptr" minOccurs="0"/>
            <xs:element ref="tei:foreign" minOccurs="0"/>
            <xs:element ref="tei:emph" minOccurs="0"/>
            <xs:element ref="tei:rs" minOccurs="0"/>
            <xs:element ref="tei:pb" minOccurs="0"/>
            <xs:element ref="tei:choice" minOccurs="0"/>
            <xs:element ref="tei:del" minOccurs="0"/>
            <xs:element ref="tei:add" minOccurs="0"/>
        </xs:choice>
        <xs:attribute ref="xml:space" use="required"/>
        <xs:attribute ref="xml:id" use="required"/>
            <xs:attribute name="rendition" type="tei:renditionType"/>
    </xs:complexType>

    <xs:complexType mixed="true" name="paragraphLikeAnyNote">
        <!-- XML Schema is too limited for making a distinction based on attributes -->
        <xs:choice maxOccurs="unbounded">
            <xs:element ref="tei:hi" minOccurs="0"/>
            <xs:element ref="tei:supplied" minOccurs="0"/>
            <xs:element ref="tei:note" minOccurs="0"/>
            <xs:element ref="tei:ref" minOccurs="0"/>
            <xs:element ref="tei:bibl" minOccurs="0"/>
            <xs:element ref="tei:lg" minOccurs="0"/>
            <xs:element ref="tei:foreign" minOccurs="0"/>
            <xs:element ref="tei:emph" minOccurs="0"/>
            <xs:element ref="tei:rs" minOccurs="0"/>
            <xs:element ref="tei:choice" minOccurs="0"/>
            <xs:element ref="tei:del" minOccurs="0"/>
            <xs:element ref="tei:add" minOccurs="0"/>
        </xs:choice>
        <xs:attribute ref="xml:id" use="required"/>
            <xs:attribute name="rendition" type="tei:renditionType"/>
    </xs:complexType>

    <xs:element name="quote" type="tei:paragraphLikePrimary"/>

    <xs:complexType name="paragraphLikeSimple" mixed="true">
        <xs:choice maxOccurs="unbounded">
            <xs:element ref="tei:hi" minOccurs="0"/>
            <xs:element ref="tei:supplied" minOccurs="0"/>
            <xs:element ref="tei:note" minOccurs="0"/>
            <xs:element ref="tei:ref" minOccurs="0"/>
            <xs:element ref="tei:rs" minOccurs="0"/>
        </xs:choice>
        <xs:attribute ref="xml:id" use="required"/>
            <xs:attribute name="rendition" type="tei:renditionType"/>
        <xs:attribute ref="xml:space" use="required"/>
    </xs:complexType>

    <xs:element name="dateline" type="tei:paragraphLikeSimple"/>

    <xs:element name="signed" type="tei:paragraphLikeSimple"/>

    <xs:element name="floatingText">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="body">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="dateline" type="tei:paragraphLikePrimary"/>
                            <xs:element name="opener" type="tei:paragraphLikePrimary"/>
                            <xs:element name="p" type="tei:paragraphLikePrimary"/>
                            <xs:element name="closer" type="tei:paragraphLikePrimary"/>
                            <xs:element ref="tei:pb" minOccurs="0"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:element name="epigraph">
        <xs:complexType mixed="true">
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="tei:hi" minOccurs="0"/>
                <xs:element ref="tei:supplied" minOccurs="0"/>
                <xs:element ref="tei:note" minOccurs="0"/>
                <xs:element ref="tei:ref" minOccurs="0"/>
                <xs:element ref="tei:lg" minOccurs="0"/>
                <xs:element name="p" minOccurs="0" type="tei:paragraphLikePrimary"/>
            </xs:choice>
            <xs:attribute ref="xml:id" use="required"/>
            <xs:attribute ref="xml:space" use="required"/>
            <xs:attribute name="rendition" type="tei:renditionType"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="figure">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="graphic">
                    <xs:complexType>
                        <xs:attribute name="url" use="required"/>
                        <xs:attribute name="n" use="required" type="xs:integer"/>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="tei:head" minOccurs="0"/>
                <xs:element ref="tei:note" minOccurs="0"/>
                <xs:element ref="tei:figDesc" minOccurs="1"/>
            </xs:sequence>
            <xs:attribute ref="xml:id" use="required"/>
            <xs:attribute name="rendition" type="tei:renditionType"/>
            <xs:attribute name="n" use="required" type="xs:integer"/>
            <xs:attribute name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="moved"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="place">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="inline"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="figDesc" type="tei:paragraphLikeSecondary"/>

    <xs:element name="list">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="tei:item" minOccurs="0"/>
                <xs:element ref="tei:label" minOccurs="0"/>
            </xs:choice>
            <xs:attribute name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="gloss"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="rend">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="hanging"/>
                        <xs:enumeration value="plain"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="item">
        <xs:complexType mixed="true">
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="tei:label" minOccurs="0"/>
                <xs:element ref="tei:list" minOccurs="0"/>
                <xs:element ref="tei:seg" minOccurs="0"/>
                <xs:element ref="tei:note" minOccurs="0"/>
                <xs:element ref="tei:ref" minOccurs="0"/>
                <xs:element ref="tei:bibl" minOccurs="0"/>
                <xs:element ref="tei:rs" minOccurs="0"/>
                <xs:element ref="tei:pb" minOccurs="0"/>
                <xs:element ref="tei:ab" minOccurs="0"/>
                <xs:element ref="tei:choice" minOccurs="0"/>
                <xs:element ref="tei:hi" minOccurs="0"/>
                <xs:element ref="tei:emph" minOccurs="0"/>
            </xs:choice>
            <xs:attribute name="rendition" type="tei:renditionType"/>
            <xs:attribute ref="xml:space" use="optional"/>
            <xs:attribute name="rend">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="list-plain"/>
                        <xs:enumeration value="list-stroke"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <!-- simple tags -->
    <xs:element name="ref">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element ref="tei:choice" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="target" type="xs:anyURI" use="required"/>
            <xs:attribute name="type" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="page"/>
                        <xs:enumeration value="old-page"/>
                        <xs:enumeration value="modern-page"/>
                        <xs:enumeration value="interdocument"/>
                        <xs:enumeration value="comment"/>
                        <xs:enumeration value="chapter"/>
                        <xs:enumeration value="document"/>
                        <xs:enumeration value="footnote"/>
                        <xs:enumeration value="weblink"/>
                        <xs:enumeration value="manifest"/>
                        <xs:enumeration value="doi"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="rs">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element ref="tei:milestone" minOccurs="0"/>
                <xs:element ref="tei:add" minOccurs="0"/>
                <xs:element ref="tei:hi" minOccurs="0"/>
                <xs:element ref="tei:emph" minOccurs="0"/><!-- to be discussed -->
                <xs:element ref="tei:rs" minOccurs="0"/>
                <xs:element name="title" minOccurs="0">
                    <xs:complexType mixed="true">
                        <xs:attribute name="type">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="work"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="ref" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:anyURI">
                        <xs:pattern value="(gnd|object)-.*"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="type" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="object"/>
                        <xs:enumeration value="organisation"/>
                        <xs:enumeration value="person"/>
                        <xs:enumeration value="place"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="ptr">
        <xs:complexType>
            <xs:attribute name="type" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="new image position"/>
                        <xs:enumeration value="endnote-link"/>
                        <xs:enumeration value="endnote-external"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="n" type="xs:integer"/>
            <xs:attribute name="target" type="xs:anyURI" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="bibl">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element ref="tei:choice" minOccurs="0"/>
                <xs:element ref="tei:rs" minOccurs="0"/>
                <xs:element name="title" minOccurs="0">
                    <xs:complexType>
                        <xs:attribute name="level" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="a"/>
                                    <xs:enumeration value="m"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="corresp" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:anyURI">
                        <xs:pattern value="bib-.*"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="milestone">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
            <xs:attribute ref="xml:id" use="required"/>
            <xs:attribute name="unit" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="page"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ed" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="1891"/>
                        <xs:enumeration value="1889"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="n" type="xs:string" use="required"/>
            <xs:attribute name="facs" type="xs:anyURI" use="required"/>
            <xs:attribute name="hw_facs_order" type="xs:integer" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="head">
        <xs:complexType mixed="true">
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="tei:note" minOccurs="0"/>
                <xs:element ref="tei:rs" minOccurs="0"/>
                <xs:element ref="tei:hi" minOccurs="0"/>
                <xs:element ref="tei:emph" minOccurs="0"/>
                <xs:element name="lb" minOccurs="0"/>
                <xs:element name="seg" minOccurs="0">
                    <xs:complexType mixed="true">
                        <xs:choice maxOccurs="unbounded">
                            <xs:element ref="tei:note" minOccurs="0"/>
                            <xs:element ref="tei:rs" minOccurs="0"/>
                        </xs:choice>
                        <xs:attribute name="rendition">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="#HW_Section_line1"/>
                                    <xs:enumeration value="#HW_Section_line2"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
            <xs:attribute name="rendition">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="#HW_Section"/>
                        <xs:enumeration value="#HW_Section_lines"/>
                        <xs:enumeration value="#HW_Ueberschrift1"/>
                        <xs:enumeration value="#HW_Zwischentitel"/>
                        <xs:enumeration value="#HW_Ueberschrift2"/>
                        <xs:enumeration value="#HW_Image_list"/>
                        <xs:enumeration value="#HW_TOC"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute ref="xml:space" use="required"/>
            <xs:attribute name="n"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="lg">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tei:l" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="l" type="tei:paragraphLikePrimary"/>

    <xs:element name="table">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tei:row" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="row">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tei:cell" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="cell">
        <xs:complexType mixed="true">
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="tei:ref" minOccurs="0"/>
            </xs:choice>
            <xs:attribute ref="xml:space" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="hi">
        <xs:complexType mixed="true">
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="tei:note" minOccurs="0"/>
                <xs:element ref="tei:pb" minOccurs="0"/>
                <xs:element ref="tei:rs" minOccurs="0"/>
            </xs:choice>
            <xs:attribute name="rendition" type="tei:renditionType" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="foreign">
        <xs:complexType mixed="true">
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="tei:note" minOccurs="0"/>
                <xs:element ref="tei:ref" minOccurs="0"/>
            </xs:choice>
            <xs:attribute ref="xml:lang" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="seg">
        <xs:complexType mixed="true">
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="tei:note" minOccurs="0"/>
                <xs:element ref="tei:ref" minOccurs="0"/>
                <xs:element ref="tei:rs" minOccurs="0"/>
            </xs:choice>
            <xs:attribute name="rendition" type="tei:renditionType"/>
            <xs:attribute name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">

                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="label">
        <xs:complexType mixed="true">
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="tei:note" minOccurs="0"/>
                <xs:element ref="tei:ref" minOccurs="0"/>
                <xs:element ref="tei:pb" minOccurs="0"/>
                <xs:element ref="tei:hi" minOccurs="0"/>
                <xs:element ref="tei:del" minOccurs="0"/>
            </xs:choice>
            <xs:attribute name="rendition" type="tei:renditionType"/>
            <xs:attribute ref="xml:space" use="required"/>
            <xs:attribute name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">

                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="ab">
        <xs:complexType mixed="true">
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="tei:note" minOccurs="0"/>
                <xs:element ref="tei:bibl" minOccurs="0"/>
                <xs:element ref="tei:rs" minOccurs="0"/>
                <xs:element ref="tei:pb" minOccurs="0"/>
                <xs:element ref="tei:emph" minOccurs="0"/>
            </xs:choice>
            <xs:attribute name="rendition" type="tei:renditionType"/>
            <xs:attribute ref="xml:space" use="optional"/>
            <xs:attribute name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="pb">
        <xs:complexType>
            <xs:attribute ref="xml:id" use="required"/>
            <xs:attribute name="ed" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="2019"/>
                        <xs:enumeration value="2020"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="n" type="xs:string" use="required"/>
            <xs:attribute name="break">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="no"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="supplied">
        <xs:complexType mixed="true">
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="gap">
        <xs:complexType mixed="true">
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="add">
        <xs:complexType mixed="true">
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="tei:rs"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:element name="del">
        <xs:complexType mixed="true">
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="emph">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element ref="tei:rs" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="choice">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="seg" minOccurs="0">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element ref="tei:rs" minOccurs="0"/>
                            <xs:element name="lb" minOccurs="0"/><!-- to be discussed -->
                        </xs:choice>
                        <xs:attribute name="type">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="explanation"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="sic">
                    <xs:complexType mixed="true">
                        <xs:attribute name="n" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="corr">
                    <xs:complexType mixed="true">

                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- attributes -->
    <xs:simpleType name="renditionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="#block"/>
            <xs:enumeration value="#left"/>
            <xs:enumeration value="#right"/>
            <xs:enumeration value="#center"/>
            <xs:enumeration value="#fraktur"/>
            <xs:enumeration value="#indent"/>
            <xs:enumeration value="#italic"/>
            <xs:enumeration value="#left #indent"/>
            <xs:enumeration value="#spaced"/>
            <xs:enumeration value="#superscript"/>
            <xs:enumeration value="#underlined"/>
            <xs:enumeration value="#underlined"/>
            <xs:enumeration value="#overlined"/>
            <xs:enumeration value="#double_underlined"/>
            <xs:enumeration value="#HW_Quote"/>
            <xs:enumeration value="#HW_Gesperrt"/>
            <xs:enumeration value="#HW_Page_mark"/>
            <xs:enumeration value="#HW_Hoch"/>
            <xs:enumeration value="#HW_Untertitel2"/>
            <xs:enumeration value="#HW_Index1"/>
            <xs:enumeration value="#HW_Index2"/>
            <xs:enumeration value="#HW_Index3"/>
            <xs:enumeration value="#HW_document_description"/>
            <xs:pattern value="^#s[0-9][0-9].*"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
