schema/register-schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xml="http://www.w3.org/XML/1998/namespace"
           xmlns:tei="http://www.tei-c.org/ns/1.0"
           targetNamespace="http://www.tei-c.org/ns/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>

    <xs:include schemaLocation="core-schema.xsd"/>

    <xs:element name="TEI">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="teiHeader">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="fileDesc">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="titleStmt">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="title" maxOccurs="unbounded">
                                                        <xs:complexType mixed="true">
                                                            <xs:attribute name="level">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:enumeration value="a"/>
                                                                        <xs:enumeration value="m"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                            <xs:attribute name="type">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:enumeration value="short"/>
                                                                        <xs:enumeration value="volume"/>
                                                                        <xs:enumeration value="year"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                            <xs:attribute name="n">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:pattern value="s\d\d"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="respStmt">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="resp">
                                                                    <xs:complexType mixed="true"/>
                                                                </xs:element>
                                                                <xs:element name="name">
                                                                    <xs:complexType mixed="true"/>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="funder">
                                                        <xs:complexType mixed="true">
                                                            <xs:attribute name="ref"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="editionStmt">

                                        </xs:element>
                                        <xs:element name="publicationStmt">

                                        </xs:element>
                                        <xs:element name="seriesStmt">

                                        </xs:element>
                                        <xs:element name="sourceDesc">

                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="profileDesc">

                            </xs:element>
                            <xs:element name="revisionDesc">

                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="text">
                    <xs:complexType>
                        <xs:sequence>

                            <xs:element name="body" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence/>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="back" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="div" minOccurs="4" maxOccurs="5">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="head"/>
                                                    <xs:element ref="tei:listBibl" minOccurs="0"/>
                                                    <xs:element name="listObject" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="head"/>
                                                                <xs:element ref="tei:listObject" maxOccurs="unbounded"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element ref="tei:listPerson" minOccurs="0"/>
                                                    <xs:element ref="tei:listOrg" minOccurs="0"/>
                                                    <xs:element ref="tei:listPlace" minOccurs="0"/>
                                                </xs:sequence>
                                                <xs:attribute ref="xml:id"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="n">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="999"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <!-- lists -->
    <xs:element name="listBibl">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bibl" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="title">
                                <xs:complexType mixed="true">
                                    <xs:attribute name="type">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="short"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="bibl">
                                <xs:complexType mixed="true">
                                    <xs:choice>
                                        <xs:element name="author" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType mixed="true">
                                                <xs:attribute name="ref"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                    <xs:attribute name="type">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration
                                                        value="full"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:id"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="listObject">
        <xs:complexType>
            <xs:choice>
                <xs:element name="object" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="head" maxOccurs="unbounded">
                                <xs:complexType mixed="true">
                                    <xs:attribute name="type">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="main"/>
                                                <xs:enumeration value="hw"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="note">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element name="persName" minOccurs="0">
                                            <xs:complexType mixed="true">
                                                <xs:attribute name="role">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="author"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="ref"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="placeName" minOccurs="0" maxOccurs="2">
                                            <xs:complexType mixed="true">
                                                <xs:attribute name="type">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="city"/>
                                                            <xs:enumeration value="building"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="ref"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="objectName" minOccurs="0">
                                            <xs:complexType mixed="true">
                                                <xs:attribute name="ref"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="p" minOccurs="0">
                                            <xs:complexType mixed="true"/>
                                        </xs:element>
                                        <xs:element name="term" minOccurs="0">
                                            <xs:complexType mixed="true"/>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:id"/>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="tei:listObject" maxOccurs="unbounded" minOccurs="0"/>
            </xs:choice>
            <xs:attribute name="corresp" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="^(gnd-|object-)"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="n" use="required"/>
            <xs:attribute name="type" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="place"/>
                        <xs:enumeration value="organisation"/>
                        <xs:enumeration value="object"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="listPerson">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="person" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="persName">
                                <xs:complexType mixed="true">
                                    <xs:choice minOccurs="0"/>
                                    <xs:attribute name="type">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="full"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="birth" minOccurs="0">
                                <xs:complexType>
                                    <xs:attribute name="when" type="xs:gYear"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="death" minOccurs="0">
                                <xs:complexType>
                                    <xs:attribute name="when" type="xs:gYear"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="note" minOccurs="0">
                                <xs:complexType mixed="true">
                                    <xs:choice minOccurs="0"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="occupation" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType mixed="true">
                                    <xs:choice minOccurs="0"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ptr" minOccurs="0">
                                <xs:complexType>
                                    <xs:attribute name="type">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="gnd"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="target" type="xs:anyURI"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:id"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="listOrg">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="org" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="orgName">
                                <xs:complexType mixed="true">
                                    <xs:choice minOccurs="0"/>
                                    <xs:attribute name="type">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="full"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="p" minOccurs="0">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                             <xs:element name="ptr">
                                <xs:complexType>
                                    <xs:attribute name="type">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="gnd"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="target" type="xs:anyURI"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:id"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="listPlace">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="place" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="placeName">
                                <xs:complexType mixed="true">
                                    <xs:choice minOccurs="0"/>
                                    <xs:attribute name="type">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="full"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="note">
                                <xs:complexType mixed="true">
                                    <xs:choice minOccurs="0"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ptr">
                                <xs:complexType>
                                    <xs:attribute name="type">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="gnd"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="target" type="xs:anyURI"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:id"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- generic type of comments -->

</xs:schema>
